<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!--Tiempo de espera para iniciar de nuevo el proceso [10MIN= 600000] [15Min=900000] 60000-->
    <add key="TimerToRestartProcess" value="600000" />
    <add key="serverSoGosmo" value="http://35.223.76.233/Manager" />
  </appSettings>
  <connectionStrings>
    <add name="StcBD" connectionString="datasource= 35.202.140.166;port=3306;username=Claudia;password=acujkp0mWlwR;database=stcgosmo;" />
  </connectionStrings>
</configuration>